<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://home.local/NKCam" version="1.0.0" viewmodes="fullscreen">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="NKCamPkg01.NKCam" package="NKCamPkg01" required_version="2.3"/>
    <content src="index.html"/>
    <description>Kiosk viewer for the home camera dashboard.</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="fullscreen"/>
    <name>NKCam</name>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="auto-rotation" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
